body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    color: #ff0000; /* Rojo Pokédex */
}

/* Diseño de cuadrícula (Grid) */
.pokedex-contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Diseño de la tarjeta individual */
.pokemon-tarjeta {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
    text-transform: capitalize; /* Pone la primera letra en mayúscula */
}

.pokemon-tarjeta:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.contenedor-imagen {
    background-color: #f5f5f5;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-imagen img {
    width: 100%;
}

.numero {
    background-color: #e0e0e0;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 0.8rem;
    color: #666;
}

.nombre {
    margin: 10px 0 5px;
    font-size: 1.2rem;
}

.tipo {
    color: #777;
}